@use '../../../styles/vars';

.redesign-header {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo {
        height: 100%;
        width: 100%;

        &-container {
            max-width: 4rem;
            margin-left: 1rem;
        }
    }

    &__title {
        font-size: 2rem;
        margin-left: 1rem;
        &-span {
            color: vars.$secondary-color;
            font-size: 2.5rem;
            font-weight: 500;
        }
    }

    &__navbar {
        display: flex;
        margin: 0 6rem;
        &-item {
            color: vars.$primary-font-color;
            padding: 1rem;
            font-weight: 500;
            &:hover {
                color: vars.$secondary-color;
                transition: all 0.3s ease-in-out;
            }
        }

        &-link--active {
            position: relative;
            &::after {
                content: "";
                background: vars.$secondary-color;
                position: absolute;
                bottom: 0;
                left: 30%;
                height: 4px;
                width: 40%;
                animation: 0.2s linear navbarAnimation;
                
            }
        }
    }

    &__searchbar-container {
        position: relative;
        width: 100%;
        height: 2.5rem;
        max-width: 30rem;
    }

    &__connection {
        display: flex;
        
        &__item {
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            color: #ffffff;
            cursor: pointer;
            margin: 0 1rem;
            transition: all .3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            white-space: nowrap;
            &:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: vars.$secondary-color;
                border-radius: 0.5rem;
                z-index: -2;
            }
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: darken(vars.$secondary-color, 5%);
                transition: all .3s;
                border-radius: 0.5rem;
                z-index: -1;
            }
            &:hover {
                color: #fff;
                &:before {
                  width: 100%;
                }
              }
        }
    }

    &__left-container {
        display: flex;
        align-items: center;
    }

    &__profile-image {
        height: 75px;
        width: 75px;
        min-width: 75px;
        min-height: 75px;
        margin-right: 2rem;
        margin-left: 1rem;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
    
        border: 2px solid white;
        border-radius: 50%;
        background-color: #eee;
        filter: grayscale(40%);
        transition: all 0.3s ease-in-out;
    
        &:hover {
            filter: grayscale(0%); //saturate(100%);
        }
    }
}

@keyframes navbarAnimation{
    from {
        width: 0%;
    }
    to {
        width: 40%;
    }
}

