@use '../../../styles/vars';

.login {
    
  
    &__form {
      background-color: vars.$background-card-color;
      padding: 3rem;
      border-radius: 1rem;
      box-shadow: vars.$shadow;
    }
  
  
    &__title {
        font-size: 2rem;
        font-weight: 700;
        color: vars.$header-color;
        margin-bottom: 1rem;
    }
  
  
    &__submit-btn {
        padding: vars.$gutter * 0.8;
        width: 8rem;
        background-color: vars.$header-color;
        border: none;
        border-radius: 0.5rem;
        color: #ffffff;
        font-weight: 700;
        box-shadow: vars.$shadow;
        margin-top: 1rem;
  
        &:hover {
            box-shadow: vars.$white-shadow;
        }
    }
  }