.carrousel {
    border: 0.1em;
    box-sizing: content-box;
    padding: 1em;
    min-width: 18rem;

    &__img {
        object-fit: fill;
        height: 100%;
        border: 10px solid #ffffff;
    }
}