.legend-item {
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__color {
        height: 3rem;
        width: 5px;
        margin-right: 1rem;
    }

    &__delete-icon {
        cursor: pointer;
        height: 30px;
        width: 30px;
        margin-right: 0.5rem;
    }
}