.about {
    // background-color: darkcyan;
}

.about__titre {
    // background-color: chocolate;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    margin-left: 19.5rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.7rem;
    
}



.about__content {
    // background-color: white;
    margin: 0 auto;
    width:85%;
    padding-bottom: 3rem;
  
;}



.about__content_nous {
    background-color: white;
    width: 80%;
    border:solid black 1px;
    padding:1rem ;
    margin: 1em auto 2em;
    border-radius: 1rem;
  
}


.about__content_vision {
    background-color: white;
    width: 80%;
    border:solid black 1px;
    padding:1rem ;
    margin: 1em auto 2em;
    border-radius: 1rem;

}


.about__content_contribuer {
    background-color: white;
    width: 80%;
    border:solid black 1px;
    padding:1rem ;
    margin: 1em auto 4em;  //<br> rajouté dans index pour insérer un bottom espace
    border-radius: 1rem;
}




