@use '../../../styles/vars';

.about {
    margin-top: 5rem;

    &__titre {
        font-weight: 700;
        font-size: 1.7rem;
        color: vars.$background-app-color;

        &-container {
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: vars.$shadow;
            background-color: vars.$background-card-color;
        }
    }
    
    

    
    
    
    &__content {
        background-color: white;
        padding:1rem ;
        border-radius: 1rem;
        box-shadow: vars.$shadow;
    }


}




