@use '../../../../../styles/vars';

.modal-item {
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: vars.$shadow-card-item;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-family: vars.$font;

    &__image-container {
     width: 10rem;
     height: 7rem;
    }

    &__image {
        width: 100%;
        height: 100%;
        border-radius: 0.5rem;
    }

    &__tag-container {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__item {
            padding: 0.5rem;
            margin: 0 0.5rem;
            margin-bottom: 0.5rem;
            border-radius: 0.5rem;
            box-shadow: vars.$shadow-card-item;
            text-align: center;
        }
    }

    &__date-container {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__item {
            margin-bottom: 0.5rem;
        }
    }
    
}