@use "../../styles/vars";

.blockField {
  position: relative;

  &__label {
    color: vars.$header-color;
    font-weight: 700;
    font-size: 1.1rem;
  }
  &__input {
    width: 100%;
    padding: vars.$gutter;
    border: none;
    border-radius: 1rem;
    box-shadow: vars.$shadow;
    margin-top: 1rem;
    font-family: vars.$font;
    font-size: 1.1rem;
  }
  &__button {
    position: absolute;
    color: #ffffff;
    border: none;
    font-weight: 700;
    right: 0.2rem;
    bottom: 0.2rem;
    background-color: vars.$header-color;
    border-radius: 1em;
    padding: 1.3em;
  }
}
