@use "../../styles/vars";

.blockField {
  //   background-color: ;
  &__label {
    color: vars.$header-color;
    font-weight: 700;
    font-size: 1.1rem;
  }
  &__input {
    // position: relative;
    width: 100%;
    padding: vars.$gutter;
    border: none;
    border-radius: 1rem;
    box-shadow: vars.$shadow;
    margin-top: 1rem;
    font-family: vars.$font;
    font-size: 1.1rem;
  }
  &__button {
    position: relative;
    color: #ffffff;
    border: none;
    font-weight: 700;
    left: 25.9em;
    bottom: 3.85em;
    background-color: vars.$header-color;
    border-radius: 1em;
    padding: 1.3em;
  }
}
