.legalnotice {
	background-color: #a7bbac;

	&__title {
		background-color: white;
		text-transform: uppercase;
		font-weight: bold;
		// color: #a7bbac;

		margin-left: 10rem;
		margin-right: 10rem;
		margin-top: 3rem;
		margin-bottom: 2rem;

		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
		font-size: 1.7rem;
		border-radius: 1rem;
	}

	&__content {
		background-color: white;
		padding: 1rem;

		margin-left: 10rem;
		margin-right: 10rem;

		border-radius: 1rem;
		scrollbar-color: rebeccapurple green;
	}
}
