.legalnotice {
background-color: #a7bbac;    



&__titre {
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    color: #bdbdbd;;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    font-size: 1.7rem;
    border: solid black 1px;
    border-radius: 1rem;
   
};

&__content {
    background-color: white;
    width: 80%;
    border:solid black 1px;
    padding:1rem ;
    margin: 1em auto 2em;
    border-radius: 1rem;

   
    width: 80%;
    height: 38rem;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
};

}