@use '../../../styles/vars';

.legalnotice {
	display: flex;
	align-items: center;
	flex-direction: column;
	&__title {
		
		text-transform: uppercase;
		font-weight: bold;
		color: vars.$secondary-color;

		margin: 2rem 0; 
		padding-top: 1rem;
		padding-bottom: 1rem;
		text-align: center;
		font-size: 1.7rem;
		border-radius: 1rem;
	}

	&__content {
		background-color: white;
		padding: 1rem;
		margin-left: 1rem;
		margin-right: 1rem;
		max-width: 50rem;
		box-shadow: vars.$shadow-card-item;
	}
}
