@use "../../styles/vars";

.app {
  font-family: vars.$font;
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  background: vars.$background-app-color;
  
  &__container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
  }

}

