@use '../../../styles/vars';

.register {
  margin-top: 2rem;

  &__form {
    background-color: vars.$background-card-color;
    padding: 2rem;
    box-shadow: vars.$shadow-card-item;
    max-width: 30rem;
  }


  &__title {
      font-size: 2rem;
      font-weight: 700;
      color: vars.$header-color;
      margin-bottom: 1rem;
  }


  &__submit-btn {
      padding: vars.$gutter * 0.8;
      width: 8rem;
      background-color: vars.$header-color;
      border: none;
      border-radius: 0.5rem;
      color: #ffffff;
      font-weight: 700;
      box-shadow: vars.$shadow-card-item;
      margin-top: 1rem;
      transition: all .3s;
      transition: all .3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      white-space: nowrap;
      cursor: pointer;

      &:after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -2;
      }

      &:before {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 100%;
          background-color: darken(vars.$secondary-color, 10%);
          transition: all .3s;
          z-index: -1;
      }

      &:hover {
          color: #ffffff;
          &:before {
            width: 100%;
          }
      }
  }

  &__redirect {
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
}
