@use '../../../../../styles/vars';

.garden-calendar {
    &__menu {
        background-color: vars.$background-card-color;
        padding: 2rem;
        box-shadow: vars.$shadow-card-item;
    }

    &__selector {
        border: none;
        border-radius: 0.2rem;
        width: 95%;
        height: 2rem;
    }

}
.calendar {
    box-sizing: border-box;
}

.day-content {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-container {
    box-shadow: vars.$shadow-card-item;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}



.calendar-container {
    background-color: vars.$background-card-color;
    padding: 1rem;
    box-shadow: vars.$shadow-card-item;
}