@use '../../../../../styles/vars';

.garden-calendar {
    &__menu {
        background-color: vars.$background-card-color;
        padding: 2rem;
        border-radius: 0.5rem;
        box-shadow: vars.$shadow-card-item;
    }

    &__selector {
        border: none;
        border-radius: 0.2rem;
        width: 95%;
        height: 2rem;
    }

}