.footer {
    background-color: #636e72;
    display: flex;
    width: 100vw;
    height: 20vh;
    position: fixed;
    bottom: 0;
    color: white;
    justify-content: space-around;
    align-items: center;
}