.redesign-header-mobil {
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__menu-icon {
        cursor: pointer;
        margin-right: 1rem;
    }
}