@use "../../../../../styles/vars";

.pitch-section {
	padding: 1.5rem;
	border-radius: 0.5rem;
	box-shadow: vars.$shadow-card-item;
	background-color: vars.$background-card-color;
	&__titre {
		margin-bottom: 1rem;
		font-weight: bold;
		font-size: 1.2rem;
		color: vars.$header-color;
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
        width:100%;
		align-items: center;


        &__left {
			display: flex;
			justify-content: center;
			align-items: center;

			background-position: center;
			background-repeat: no-repeat;

            width: 15%;
            padding-top: 15%;
			min-width: 75px;
			min-height: 75px;
			margin: 1rem 0;
		}

		&__right {
			width: 85%;
            font-size: 1.1rem;
			line-height: 1.5rem;
			text-align: justify;
		}
	}
}
