@use '../../../../../styles/vars';

.pitch-section {
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: vars.$shadow-card-item;
    background-color: vars.$background-card-color;
    &__titre {
        margin-bottom: 1rem;
        font-weight: bold;
        font-size:1.2rem;
        color: vars.$header-color;
    }
    
    &__text {
        margin-left: 10rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
        margin-bottom: 2rem;
        text-align: justify;
        word-wrap: break-word;
    }
}
