@use '../../../styles/vars';

.homepage {
    &__grid-container {
        margin-top: 7rem;

        &__carrousel {
            background-color: vars.$background-card-color;
            border-radius: 1rem;
            position: relative;
        }
    }
}