@use '../../../styles/vars';

.homepage {
    &__grid-container {
       

        &__carrousel {
            background-color: vars.$background-card-color;
            border-radius: 1rem;
            position: relative;
            box-shadow: vars.$shadow;
        }
    }
}