@use '../../../styles/vars';

.homepage {
    margin-top: 4rem;
    &__container {
        background-color: vars.$background-card-color;
        border-radius: 1rem;
        box-shadow: vars.$shadow;
    }
}