@use "../../../styles/vars";

.homepage {
	&__container {
		background-color: vars.$background-card-color;
		box-shadow: vars.$shadow-card-item;
	}

    &__title {
	font-weight: 700;
	font-size: 5rem;
	// max-width: 15rem;
    // text-align: center;
	color: vars.$secondary-color;
	// word-break: break-all;
		z-index: 2;
	&-container {
		display: flex;
		
		width: 50%;
	}
	
}

&__header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 5rem 4rem 10rem 6rem;

	&-calendar {
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		&-picture {
			width: 100%;
			height: 100%;
			margin-bottom: 2rem;
		}

		&-title {
			color: vars.$secondary-color;
			font-size: 2rem;
			text-align: center;
			margin-bottom: 2rem;
		}

		&-link {
			background-color: vars.$secondary-color;
			color: vars.$background-app-color;
			padding: 1rem;
			border-radius: 0.5rem;
		}
	}
}
}
