.content__titre {
    // background-color:darkorange;
    margin-bottom: 1rem;
    font-weight: bold;
    font-size:18px;
    
}

.content__text {
text-align : left;
margin-left: 13rem;
margin-right: 2rem;
margin-bottom: 4rem;
font-size: 18px;
line-height: 1.5rem;

}