@use "../../styles/vars";

.redesign-footer {
  height: 30vh;
  // height: 12rem;
  margin-top: 8rem;
  padding-top: 3rem;
  background-color: vars.$secondary-color;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    &--returnTop {
      background-color: vars.$redesign-background-footer-top;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      margin-top: -3rem;
      margin-bottom: 2rem;
      height: 3rem;
      width: 100%;
    }

    &--navigation {
      display: flex;
      justify-content: space-around;
      // background-color: mediumblue;
      align-items: center;
      width: 80vw;
      &-link1 {
        // background-color: orangered;
        display: flex;
        flex-direction: column;
        // margin-right: 14rem;
      }

      &-link2 {
        // background-color: yellow;
        display: flex;
        flex-direction: column;
      }
    }

    &--logo {
      // background-color: magenta;
      display: flex;
      justify-content: center;
      align-items: center;
      // width: 100vw;
      padding-top: 0.4rem;
      // border-top: 0.1rem solid;
      // border-color: vars.$redesign-background-footer-top;
      &-title {
        font-size: 2rem;
        color: black;
        &-letter {
          color: vars.$background-app-color;
          font-size: 3rem;
        }
      }
    }
  }
}

// @media (max-width: 1100px) {
//   .redesign-footer {
//     background-color: yellow;
//     // display: flex;
//   }
//   .redesign-footer__container {
//     &--navigation {
//       display: flex;
//       // background-color: mediumblue;
//       // width: 80rem;
//       &-link1 {
//         // background-color: orangered;
//         display: flex;
//         flex-direction: column;
//         margin-right: 8rem;
//       }

//       &-link2 {
//         background-color: yellow;
//         display: flex;
//         flex-direction: column;
//       }
//     }
//   }
// }

// @media (max-width: 900px) {
//   .redesign-footer {
//     background-color: tomato;
//     // display: flex;
//   }
//   .redesign-footer__container {
//     display: flex;
//     // flex-direction: column;
//     background-color: lawngreen;

//     &--navigation {
//       display: flex;
//       // background-color: mediumblue;
//       // width: 80rem;
//       &-link1 {
//         // background-color: orangered;
//         display: flex;
//         flex-direction: column;
//         margin-right: 5rem;
//       }

//       &-link2 {
//         // background-color: yellow;
//         display: flex;
//         flex-direction: column;
//       }
//     }
//   }
// }

@media (max-width: 600px) {
  .redesign-footer {
    // height: 35vh;
    // // height: 12rem;
    // margin-top: 8rem;
    // padding-top: 3rem;
    // background-color: vars.$secondary-color;

    &__container {
      // display: flex;
      // flex-direction: column;
      // justify-content: space-around;
      // align-items: center;

      // &--returnTop {
      //   // background-color: vars.$redesign-background-footer-top;
      //   // color: white;
      //   // display: flex;
      //   // justify-content: center;
      //   // align-items: center;
      //   // cursor: pointer;
      //   // margin-top: -3rem;
      //   // margin-bottom: 2rem;
      //   // height: 3rem;
      //   // width: 100%;
      // }

      &--navigation {
        // display: flex;
        // justify-content: space-around;
        // // background-color: mediumblue;
        // align-items: center;
        // width: 80vw;

        // &-link1 {
        //   // background-color: orangered;
        //   // display: flex;
        //   // flex-direction: column;
        //   // margin-right: 14rem;
        //   font-size: 1.5rem;
        // }

        // &-link2 {
        //   // background-color: yellow;
        //   // display: flex;
        //   // flex-direction: column;
        //   font-size: 1.5rem;
        // }
      }

      // &--logo {
      //   // background-color: magenta;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 100vw;
      //   padding-top: 0.4rem;
      //   border-top: 0.1rem solid;
      //   border-color: vars.$redesign-background-footer-top;
      //   &-title {
      //     font-size: 2rem;
      //     color: black;
      //     &-letter {
      //       color: vars.$background-app-color;
      //       font-size: 3rem;
      //     }
      //   }
      // }
    }
  }
}

// @media (max-width: 837px) {
//   .redesign-footer {
//     background-color: red;
//   }
// }
