@use '../../../../styles/vars';

.individual-garden {
    margin-top: 3rem;
    &__name {
        font-size: 3rem;
        display: flex;
        justify-content: center;
        font-weight: 500;
        color: vars.$secondary-color;
    }
}

.modal-item__container {
    overflow: auto
}

.modal__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: vars.$font;
}