$header-color: #3d3b2c;
$font: 'Dosis', sans-serif;
$color-font-header: #bdbdbd;
$active-color-header: #6EA833;
$connected-menu-color: #a7bbac;
$background-app-color: #a7bbac;
$background-card-color: #ffffff;
$shadow: #000000;
$gutter: 1rem;