$header-color: #3d3b2c;
$font: 'Dosis', sans-serif;
$color-font-header: #bdbdbd;
$active-color-header: #6EA833;
$connected-menu-color: #a7bbac;
$background-app-color: #a7bbac;
$background-card-color: #ffffff;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$gutter: 1rem;