$header-color: #244435;
$font: 'Poppins', sans-serif;
$color-font-header: #bdbdbd;
$active-color-header: #906b16;
$connected-menu-color: #a7bbac;
$background-app-color: #FDF1E5;
$background-card-color: #ffffff;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$white-shadow: 0 10px 20px rgba(255,255,255,0.19), 0 6px 6px rgba(255,255,255,0.23);
$gutter: 1rem;
$background-footer: radial-gradient(circle, #d6eddc, #cfe7d5, #c8e1cf, #c2dcc8, #bbd6c2, #b7d2be, #b3ceba, #afcab6, #adc6b3, #abc2b1, #a9bfae, #a7bbac);
$shadow-card-item: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
$secondary-color: #244435;
$primary-font-color: #000000;