@use "../../../../../styles/vars";

.map-container {
	margin: auto;
	width: 100%;
	height: 1000px;

	padding: 20px;
	display: flex;
	flex-direction: column;
}

.map {
	height: 100%;
	z-index: 0;
}

textarea {
	width: 100%;
	height: 300px;
}

h1 {
	font-weight: 700;
}

.PopupContent {
	width: 100%;

	display: flex;
	flex-direction: column;
}

.PopupContent p {
	display: flex;
	width: 100%;
}

span {
	padding: 0.5rem;
}
