.speciesInformations {
    display: flex;
    flex-direction: column;
    border: solid yellow;
    // width: 75%; *******************************************
    width: 60%;

&__specificites {
    border: solid red;
    display:flex;
    justify-content: space-between;
    width: 60vw;
    padding: 2em;
    margin-bottom: 2em;
   


&-nom { // TOMATES, date de semis,
    font-family:Arial;
    font-size:16px ;
    // border: solid black 1px;
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    margin-right: 2em;
    height: 40%;
    margin: 9em;
    margin-top: 0.1rem;
    
}

&-img {
    width: 22em;
    height:22em;
    object-fit: cover;
    border-radius: 1rem;
}

&-titre {    
    // font-weight: bold;
    padding-bottom: 1em;
    text-transform: uppercase;
    margin: 1rem;
    text-align: center;
    padding: 0.5rem;  
    border-radius: 1rem;
    background-color: #757f49;
    color:white
    
    
}

}


&__description {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: 24em;
    margin-right: 80%; // impossible de réduire la marge à droite
   
    padding: 1.5em;
    border: solid green;
    width: 53%;
    box-sizing: content-box;
    height: 14em;
    font-family:Arial;
    font-size:16px ;
    // letter-spacing: normal;
    line-height: 1em;
    border-radius: 1rem;
    


&-titre {  //les tomates et leur bienfaits
font-weight: bold;
padding-bottom: 1em;

}

}

}


//line-height hauteur de ligne